.header{
    width: 100%;
    justify-content: center;
    
}
.header-1{
    display: flex;
    justify-content: flex-end;
    position: relative;
   
}
.icono-principal{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px;
    top: 10px;
}
.nombre-usuario{
    position: relative;
    top: -45px;
    left: 10px;
    font-size: 15px;
    color: white;
  
  
}
.usuario{
    position: relative;
    top: -13px;
    left: -35px;
    font-size: 10px;
    color: rgb(124, 124, 124);
    border-bottom: 100px;
    
}
.fa-regular{
    color: rgb(255, 255, 255);
    position: relative;
    top: -30px;
    left: -60px;
    text-decoration: none;
}
.foto-perfil{
    width: 38px;
    height: 38px;
    border-radius:150px;
    position: relative;
    left: -156px;
    top: -33px;
}
.tresp{
    position: relative;
    right: -10px;
    top: -38px;
    color: rgb(124, 124, 124);
    text-decoration: none;
}